.header-main {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.image-logo {
  padding-left: 30px;
}

.user-name {
  color: white;
  padding-right: 30px;
}

.header-elements {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.navbar {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: space-around;
  width: 100%;
}

.links {
  align-items: center;
  background-color: #fefffe;
  border: 1px solid green;
  border-radius: 30px;
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);

  /* box-shadow: 1px 1px 3px 1px rgba(48, 252, 25, 0.7); */
  color: black;
  display: flex;
  height: 55px;
  justify-content: center;
  margin-bottom: 0;
  transition: 0.5s;
  width: 370px;
}

.pageSearch, .pageFavorite {
  align-items: center;
  background-color: #117a37c1;
  border: 1px solid green;
  border-radius: 30px;
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);

  /* box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.7); */
  color: white;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 300px;
}

.links:hover {
  align-items: center;
  background-color: #117a37c1;
  border: 1px solid green;
  border-radius: 30px;
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);

  /* box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.7); */
  color: white;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 300px;
}

.decoration {
  text-decoration: none;
}

.max-width {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 33.33%;
}
