.page-body {
  align-items: center;
  background-color: #117a37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

.blank {
  display: none;
}

.form-login {
  align-items: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -50px;
  width: 500px;
}

.btn {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);
  color: black;
  width: 150px;
}

.input-name {
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);
}

.image-position {
  position: relative;
  top: -100px;
  z-index: 1;
}
