.page-body-search {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(35, 35, 35); */
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-height: 100vh;
  width: 100%;
}

.form-search {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-search {
 /*  box-shadow: 1px 1px 3px 1px rgb(28, 192, 53); */
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);
}

.shadow-search {
  background-color: white;
  border: 1px solid rgb(219, 244, 81);
  box-shadow: 3px 2px 9px 1px rgba(0, 0, 0, 0.7);
 /*  box-shadow: 1px 1px 5px 1px rgba(35, 210, 19, 0.7); */
}
